.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}
