// margins

.m-auto{
  margin: auto;
}

.mt-40px {
  margin-top: 40px;
}
.mt-4px {
  margin-top: 4px;
}
.mt-20px {
  margin-top: 20px !important;
}
.mt-35px{
  margin-top: 35px;
}
.mt-30px{
  margin-top: 30px;
}
.mb-12px{
  margin-bottom: 12px;
}
.ml-32px {
  margin-left: 32px;
}
mb-12px{
  margin-bottom: 12px;
}
.mr-16px {
  margin-right: 16px;
}
.ml-16px{
  margin-left: 16px;
}
.mr-40px{
  margin-right: 40px;
}
.mr-4px{
  margin-right: 4px;
}
.mt-12px {
  margin-top: 12px;
}

.mt-50px{
  margin-top: 50px;
}

.mt-16px {
  margin-top: 16px;
}

.mr-54px {
  margin-right: 54px;
}
.mr-10px {
  margin-right: 10px;
}
.mr-16px{
  margin-right: 16px;
}
.mr-9px{
  margin-right: 9px;
}


.ml-10px {
  margin-left: 10px;
}

.mt-80px {
  margin-top: 80px;
}

.mt-56px {
  margin-top: 56px;
}

.mt-10px {
  margin-top: 10px;
}
.mt-5px{
  margin-top: 5px;
}
.mt-22px{
  margin-top: 22px !important;
}
.mt-24px{
  margin-top: 24px;
}
.mt-56px{
  margin-top: 56px;
}
.mt-32px{
  margin-top: 32px;
}
.mt-8px{
  margin-top: 8px;
}
.mt-48px{
  margin-top: 48px;
}
.mr-8px {
  margin-right: 8px;
}
.ml-8px {
  margin-left: 8px;
}
.mr-24px{
  margin-right: 24px;
}
.mr-80px{
  margin-right: 80px;
}
.mr-56px {
  margin-right: 56px;
}
.mr-10px{
  margin-right: 10px;
}
.mr-27px{
  margin-right: 27px;
}
.mr-20px{
  margin-right: 20px;
}
.mr-12px{
  margin-right: 12px;
}
.mr-24px{
  margin-right: 24px;
}

.ml-32px{
  margin-left: 32px;
}
.ml-80px{
  margin-left:80px;
}
.ml-180px{
  margin-left:180px;
}
.ml-20px{
  margin-left: 20px;
}
.ml-32px{
  margin-left: 32px;
}
.ml-40px{
  margin-left: 40px;
}

.ml-13px{
  margin-left: 13px;
}
.ml-12px{
  margin-left: 12px;
}
.ml-4px{
  margin-left: 4px;
}

.mb-16px{
  margin-bottom: 16px;
}
.mb-40px{
  margin-bottom: 40px;
}
.mb-32px{
  margin-bottom: 32px;
}
.mb-15px{
  margin-bottom: 15px;
}

.mr-32px {
  margin-right: 32px;
}

.ml-8px {
  margin-left: 8px;
}
.ml-24px{
  margin-left: 24px;
}
.mr-auto{
  margin-right: auto;
}
.mb-5px{
  margin-bottom: 5px;
}
.mb-20px{
  margin-bottom: 20px;
}
.mb-25px{
  margin-bottom: 25px;
}
.mb-24px{
  margin-bottom: 24px;
}
.mb-56px{
  margin-bottom: 56px;
}
.mb-120px{
  margin-bottom: 120px;
}

.mb-90px{
  margin-bottom: 90px;
}
.mb-150px{
  margin-bottom: 150px;
}
.mx-5px {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-24px{
  margin-left: 24px;
  margin-right: 24px;
}
.mx-32px{
  margin-left: 32px;
  margin-right: 32px;
}
.mx-160px{
  margin-left: 160px;
  margin-right: 160px;
}
.my-56px{
  margin-top:56px;
  margin-bottom:56px;
}
.mb-38px{
  margin-bottom: 38px;
}
// paddings

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.py-22\.5px{
  padding-top: 22.5px;
  padding-bottom: 22.5px;
}
.p-12px {
  padding: 12px;
}
.p-8px{
  padding: 8px;
}

.pl-8px {
  padding-left: 8px;
}

.pt-8px {
  padding-top: 8px;
}

.pb-12px {
  padding-bottom: 12px;
}
.pb-24px{
  padding-bottom: 24px;
}

.pt-24px {
  padding-top: 24px;
}

.pl-16px {
  padding-left: 16px;
}
.pr-16px{
  padding-right: 16px;
}
.pt-32{
  padding-top: 32px;
}
.pt-40px{
  padding-top: 40px;
}
.px-24{
  padding-left: 24px;
  padding-right: 24px;
}
.px-180px{
  padding-left: 180px;
  padding-right: 180px;
}
.py-100px{
  padding-top: 100px;
  padding-bottom: 100px;
}
.mr-115px{
  margin-right: 115px;
}
.ph-10px {
  padding-left: 10px;
  padding-right: 10px;
}
.ph-24px{
  padding-right: 24px;
  padding-left: 24px;
}
.ph-28px{
  padding-right: 28px;
  padding-left: 28px;
}
.pb-32px{
  padding-bottom: 32px;
}
.pb-100px{
  padding-bottom: 200px;
}
.mh-8px{
  margin-left: 8px;
  margin-right: 8px;
}

.pt-32px {
  padding-top: 32px;
}
.py-8px{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.py-40px{
  padding-bottom: 40px;
  padding-top: 40px;
}
.py-28px{
  padding-top: 28px;
  padding-bottom: 28px;
}
.py-161px{
  padding-top: 161px;
  padding-bottom: 161px;
}
.pt-56px {
  padding-top: 56px;
}

.p-24px {
  padding: 24px;
}
.pr-8px{
  padding-right: 8px;
}

.pb-100px {
  padding-bottom: 100px;
}

.pl-10px {
  padding-left: 10px;
}

.p-16px {
  padding: 16px;
}

.pl-24px {
  padding-left: 24px;
}

.pr-12px {
  padding-right: 12px !important;
}
.pr-10px{
  padding-right: 10px;
}

.pt-5{
  padding-top: 5px;
}
.pt-12px{
  padding-top: 12px;
}
.pt-16px{
  padding-top: 16px;
}

.pr-24px{
  padding-right: 24px !important;
}
.pr-8px{
  padding-right: 8px;
}
.pl-8px{
  padding-left: 8px;
}
.pr-20px{
  padding-right: 20px;
}
.pl-20px{
  padding-left: 20px;
}
.pl-40px{
  padding-left: 40px;
}
.pr-40px{
  padding-right: 40px;
}
.pl-27px{
  padding-left: 27px;
}
.pl-9px{
  padding-left: 9px;
}

.pb-16px {
  padding-bottom: 16px;
}

.py-12px{
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-20px{
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-40px{
  padding-left: 40px;
  padding-right: 40px;
}
.px-80px{
  padding-left: 80px;
  padding-right: 80px;
}

.pv-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv-8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-20px{
  padding-left: 20px;
  padding-right:20px;
}

.px-24px {
  padding-left: 24px;
  padding-right: 24px;
}

.ph-30px{
  padding-left: 30px;
  padding-right: 30px;
}
.py-15px{
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-4px{
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-10px{
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.py-17px{
  padding-top: 17px;
  padding-bottom: 17px;
}
.py-21px{
  padding-top: 21px;
  padding-bottom: 21px;
}
.py-24px{
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-56px{
  padding-top: 56px;
  padding-bottom: 56px;
}
.py-16px{
  padding-top: 16px;
  padding-bottom: 16px;
}
.ph-200px{
  padding-left: 200px;
  padding-right: 200px;
}
.ph-8px{
  padding-right: 8px;
  padding-left: 8px;
}
.ph-8px{
  padding-right: 8px;
  padding-left: 8px;
}
.ph-16px{
  padding-right: 16px;
  padding-left: 16px;
}
.pr-35px{
  padding-right: 35px;
}
.pl-35px{
  padding-left: 35px;
}
.pl-50px{
  padding-left: 50px;
}
.pl-65px{
  padding-left: 65px;
}
.pr-65px{
  padding-right: 65px;
}
.pv-8px{
  padding-right: 8px;
  padding-left: 8px;
}
.pv-24px {
  padding-top: 24px;
  padding-bottom: 24px;
}
.pv-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-80px{
  padding-top: 80px;
  padding-bottom: 80px;
}
.px-192px{
  padding-right: 192px;
  padding-left: 192px;
}
.px-60px{
  padding-left: 60px;
  padding-right: 60px;
}

.ph-108px {
  padding-left: 108px;
  padding-right: 108px;
}


.ph-138px {
  padding-left: 138px;
  padding-right: 138px;
}

.ph-32px {
  padding-left: 32px;
  padding-right: 32px;
}
.ph-33px{
  padding-left: 33px;
  padding-right: 33px;
}
.ph-48px{
  padding-right: 48px;
  padding-left: 48px;
}
.ph-54px{
  padding-right: 54px;
  padding-left: 54px;
}
.ph-82px{
  padding-left: 82px;
  padding-right: 82px;
}
.ph-88px{
  padding-left: 88px;
  padding-right: 88px;
}
.ph-160px {
  padding-left: 160px;
  padding-right: 160px;
}
.pl-32px {
  padding-left: 32px;
}
.pr-32px {
  padding-right: 32px;
}

.pb-56px {
  padding-bottom: 56px;
}

.pb-20px{
  padding-bottom: 20px;
}

.py-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ph-40px{
  padding-left: 40px;
  padding-right: 40px;
}

.ph-72{
  padding-left: 72px;
  padding-right: 72px;
}
.ph-60{
  padding-left: 60px;
  padding-right: 60px;
}
.ph-80{
  padding-left: 80px;
  padding-right: 80px;
}
//gap

.gap-24 {
  gap: 24px;
}
.gap-32{
  gap:32px;
}
.gap-56{
  gap:56px;
}
.gap-18{
  gap:18px;
}

.gap-40{
  gap:40px;
}
.gap-74{
  gap:74px;
}
.gap-20{
  gap:20px
}
.gap-50{
  gap:50px;
}

.ml--13px {
  margin-left: -13px !important;
}

.ml--10px {
  margin-left: -10px !important;
}

.mb-112px {
  margin-bottom: 112px;
}

.p-32px {
  padding: 32px;
}
.px-44px {
  padding-left: 44px;
  padding-right: 44px;
}

.pr-180px {
  padding-right: 180px;
}

.py-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-16px {
  padding-left: 16px;
  padding-right: 16px;
}
