<div class="navbar-default navbar-fixed-top bg-white position-fixed w-100 zi-1001" role="navigation">
    <div class="container">
        <div class="row p-3">

            <div class="col-md-8">
                <a class="footer-link" routerLink="/login">
                    <img src="assets/images/logo.png"
                         class="img-thumbnail img-logo">
                    <div class="font-logo">
                        Flite Tech Admin
                        <p class="m-0 fs-7">.com</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
