<!--  footer-->
<div class="row mx-0 bg-font-color-1 justify-content-center pb-56px">
  <div class="col-7 px-0">
    <div class="row mt-56px mx-0">
      <div class="col-4 px-0">
        <label class="mb-0 font-roboto font-weight-600 text-white font-size-18">Company</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">About Us</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Why Choose Us</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Pricing</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Testimonial</label>
      </div>
      <div class="col-4 px-0">
        <label class="mb-0 font-roboto font-weight-600 text-white font-size-18">Resources</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Privacy Policy</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Terms and Condition</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Blog</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Contact Us</label>
      </div>
      <div class="col-4 px-0">
        <label class="mb-0 font-roboto font-weight-600 text-white font-size-18">Product</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Project management</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Time tracker</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Time schedule</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Lead generate</label>
        <br>
        <label class="mb-0 font-roboto font-size-16 text-white opacity-60p mt-10px">Remote Collaboration</label>
      </div>
    </div>
  </div>
  <div class="col-9 px-0 mt-56px">
    <div class="row mx-0 row-align-center">
      <div class="col-3 pl-32px border-bottom border-4 border-dark-grey pr-0"></div>
      <div class="col-3 text-align-center px-0">
        <label class="font-inter text-white mb-0" style="font-size: 20px">Copyright @2022</label>
      </div>
      <div class="col-3 text-align-center px-0">
        <i-feather name="facebook" class="br-50p facebook-icon"></i-feather>
        <i-feather name="twitter" class="ml-13px twitter-icon"></i-feather>
        <i-feather name="instagram" class="ml-13px instagram-icon"></i-feather>
        <i-feather name="linkedin" class="ml-13px facebook-icon br-3px"></i-feather>
      </div>
      <div class="col-3 pr-32px border-bottom border-4 border-dark-grey text-align-end pl-0"></div>
    </div>
  </div>
</div>
