<images-attach-image-no-template [entityId]="entityId" [entityType]="entityType"
                                 (imageAttached)="imageAttached.emit($event)"
></images-attach-image-no-template>


<div class="">

</div>

<div class="">
  <div class=" file-image">
    <label for="file-upload-{{current_time_stamp}}" class="blast-img-upload-text m-0"><img
      src="/assets/images/image-upload-icon.svg" alt="click here" class="" *ngIf="!uploaded_file" height="70" width="70">
      <img
        src="{{uploaded_file.file_link}}" alt="click here" class="" *ngIf="uploaded_file"
        height="70" width="70"></label>
    <input class="ml-16px custom-file-input image-upload" type="file" ng2FileSelect [uploader]="uploader"
           id="file-upload-{{current_time_stamp}}">
  </div>
</div>
