<events-create-event-promo-code-no-template
  [event]="event"
  #createEventPromoCodeNoTemplateComponent
></events-create-event-promo-code-no-template>

<div class="row mx-0 justify-content-center overflow-y-scroll">
  <div class="px-0 pb-32px">
    <div class="bg-white px-0 rounded-4">
      <div class="row mx-0 modal-header modal-header--sticky">
        <div class="d-flex bg-primary justify-content-between align-items-center brtl-20px px-24 py-20px">
          <span class=" font-poppins font-size-18 font-weight-500 text-white">Create a code</span>
          <i-feather name="x" class="rounded-5 p-1 text-white cursor-pointer vertical-align-unset"
                     (click)="closeModal({status:'CLOSE',data:undefined})"
                     style="background: rgba(255, 255, 255, 0.3)"></i-feather>
        </div>
      </div>
    </div>
  </div>

  <!--  promo code creation form-->
  <div class="row px-0">
    <div class="border-bottom border-grey-2 pb-32px">
      <events-event-dashboard-promocodes-create-code-form
        (promoCodeCreated)="createEventPromoCodeNoTemplateComponent.createEventPromoCode(createEventPromoCodeNoTemplateComponent.createRequestData($event)); closeModal({status:'SUCCESS', data:$event});"
        #promocodesCreateCodeFormComponent></events-event-dashboard-promocodes-create-code-form>
    </div>
  </div>

  <!--  action buttons-->
  <div class="row mb-120px">
    <div class="mt-32px d-flex justify-content-between ph-48px mb-32px">
      <button
        class="ph-40px py-16px border border-primary rounded-2 font-poppins font-size-18 font-weight-700 text-primary bg-white">
        Cancel
      </button>
      <button
        class="ph-72 py-16px border border-primary rounded-2 font-poppins font-size-18 font-weight-700 text-white bg-primary"
        [promiseBtn]="promocodesCreateCodeFormComponent.create_code_subscription$"
        (click)="promocodesCreateCodeFormComponent.createPromoCode(promocodesCreateCodeFormComponent.createRequestData())">
        Save
      </button>
    </div>
  </div>
</div>
