<events-get-event-invite-and-event-infos-by-user-account-no-template
        [userAccount]="loggedAccount" (eventInviteAndEventInfosReceived)="addItems($event)"
        [count]="numberOfItems"
        #getEventInviteAndEventInfosByUserAccountNoTemplateComponent>
</events-get-event-invite-and-event-infos-by-user-account-no-template>


<div infiniteScroll [infiniteScrollDisabled]="disableScroll" [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="scrollThrottle" (scrolled)="onScroll()"
     [alwaysCallback]="true">
    <div *ngFor="let event_invite_and_event_info of items">
        <events-share-event-modal
                [event]="event_invite_and_event_info.event_info.event"
                #shareEventModalComponent>
        </events-share-event-modal>

        <!--    <button (click)="print(event_invite_and_event_info)"> click</button>-->


        <div class="row border-top border-grey-2 border-opacity-50">
            <div class="col-6 d-flex flex-column border border-grey-1 py-16px px-24 gap-18 br-5px mt-32px background-purple">
                <label class="font-weight-400 font-size-18 font-color-grey-1">Created On 5th May 2023</label>
                <div class="d-flex justify-content-between align-items-center">
                    <label class="font-weight-400  font-size-24">By <span
                            class="font-weight-700">{{event_invite_and_event_info.event_info.event.created_by?.display_name}}</span>
                    </label>
                    <user-profiles-user-follow
                            [followerAccount]="loggedAccount"
                            [userAccount]="event_invite_and_event_info.event_info.event.created_by"
                            [cssClasses]="'btn-event-follow'"
                    >
                    </user-profiles-user-follow>
                </div>
            </div>
        </div>
        <div class="row mt-32px d-flex justify-content-between align-items-center border-grey-1 pb-32px mb-32px">
            <div class="col-8">
                <div class="row mx-0">
                    <div class="col-4 pl-0 ">

                        <div
                                class="">
                            <images-get-image-by-entity-and-type-unique-image-ngx-avatar
                                    [imageClasses]="'cursor-pointer border-radius-5px'"
                                    [alt]="event_invite_and_event_info.event_info.event.event_title"
                                    [entityId]="event_invite_and_event_info.event_info.event.event_id"
                                    [entityType]="'EVENT_PROFILE_PIC'"
                                    [size]="150"
                                    [round]="false"
                            ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>
                        </div>
                    </div>
                    <div class="col-7 px-0">
                        <label
                                class="mb-0 font-weight-500 font-size-24 text-font-color-1 font-poppins">{{event_invite_and_event_info.event_info.event.event_title}}</label>
                        <br>
                        <label
                                class="d-inline-block mb-0 mt-16px pr-12px mr-12px border-end border-grey-2 font-size-16 text-grey-2 font-poppins">{{event_invite_and_event_info.event_info.event.start_time|appDateFormat}}</label>
                        <label
                                class="d-inline-block mb-0 font-size-16 text-grey-2 font-poppins">{{event_invite_and_event_info.event_info.event.start_time|appDateTimeToTimeFormat}}
                            -
                            {{event_invite_and_event_info.event_info.event.end_time|appDateTimeToTimeFormat}}</label>
                        <br>
                        <label class="d-inline-block mb-0 mt-16px font-size-16 text-grey-2 font-poppins"
                               *ngIf="event_invite_and_event_info.event_info.event_locations?.length">
                            {{event_invite_and_event_info.event_info.event_locations[0].address}}
                        </label>
                        <br>
                        <label class="d-inline-block mb-0 mt-16px font-size-16 text-grey-2 font-poppins">
                            {{event_invite_and_event_info.event_info.event.event_description}}
                        </label><br>
                        <i-feather name="users" class="font-poppins text-grey-2 mr-8px"></i-feather>
                        <label class="d-inline-block mb-0 mt-16px font-weight-400 font-size-16 text-grey-2 font-poppins">150
                            attendies</label>
                        <label
                                class="btn p-0 d-inline-block mb-0 ml-32px font-poppins font-weight-400 font-size-16 text-grey-2"
                                (click)="shareEventModalComponent.openModal()">
                            <i-feather name="Share2" class="d-inline-block text-grey-2"></i-feather>
                            Share
                        </label>
                    </div>
                </div>

            </div>
            <!--EVENT CALL-TO-ACTION-->
            <!--          <events-get-event-tickets-by-event-no-template-->
            <!--            [event]="event_invite.event"-->
            <!--            (eventTicketsReceived)=" eventTickets = getEventTicketsByEventNoTemplateComponent.eventTickets"-->
            <!--            #getEventTicketsByEventNoTemplateComponent></events-get-event-tickets-by-event-no-template>-->
            <!--      <events-rsvp-free-modal-->
            <!--        [eventTicket]="event_invite.event_info.event_tickets|eventsFilterEventTicketsByTicketType:'FREE'"-->
            <!--        #rsvpFreeModalComponent></events-rsvp-free-modal>-->
            <!--      <events-rsvp-free-modal-->
            <!--        [eventTicket]="event_invite_and_event_info.event_info.event_tickets"-->
            <!--        #rsvpFreeModalComponent></events-rsvp-free-modal>-->


            <div class="col-4 d-flex flex-column">
                <!--        <button class="btn-event-rsvp d-flex justify-content-center font-size-18px font-weight-700 pl-20px pr-20px py-16px"-->
                <!--                (click)="rsvpPaidModalComponent.openModal(event_invite_and_event_info.event)">-->
                <!--          RSVP to see who's invited-->
                <!--        </button>-->
                <events-rsvp-paid-modal
                    #rsvpPaidModalComponent></events-rsvp-paid-modal>
                <button class="btn-event-details mt-20px font-size-18 pl-20px pr-20px py-16px"
                        [routerLink]="'/signedin/events/'+event_invite_and_event_info.event_info.event.event_id"
                >
                    See details
                </button>
            </div>


            <!--      <div class=" py-16px spread-shadow">-->
            <!--        <div class="col-9 mx-auto d-flex justify-content-between align-items-center"-->
            <!--             *ngIf="(event_invite_and_event_info.event_info.event_tickets|eventsFilterEventTicketsByTicketType:'FREE')?.length || (event_info.event_tickets|eventsFilterEventTicketsByTicketType:'PAID')?.length">-->
            <!--          <div>-->
            <!--            <span class="font-weight-400">Ticket price</span>-->
            <!--            <div class="row row-align-center">-->
            <!--              <div class="d-flex align-items-center">-->
            <!--                <label class=" font-weight-400 font-size-16 font-poppins">Type 1: <span-->
            <!--                  class="font-weight-700 font-size-24 mr-16px">FREE</span></label>-->
            <!--                <span class=" text-grey-1"> | </span>-->
            <!--                <label class=" font-weight-400 font-size-16 font-poppins">Type 2: <span-->
            <!--                  class="font-weight-700 font-size-24 mr-16px">$ 5-50</span></label>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--          </div>-->
            <!--          <div class="d-flex ">-->
            <!--            <button-->
            <!--              class="btn btn-sm btn-outline-primary d-flex align-items-center py-20px px-40px font-weight-700 font-size-18"-->
            <!--              (click)="shareEventModalComponent.openModal()">-->
            <!--              <i-feather name="Share2"></i-feather> &nbsp; Share Event-->
            <!--            </button>-->
            <!--            <events-rsvp-free-modal-->
            <!--              (closeResult)="$event.status==='SUCCESS'?notificationsService.success('Success','RSVP successful'):''"-->
            <!--              [eventTicket]="(event_invite_and_event_info.event_info.event_tickets|eventsFilterEventTicketsByTicketType:'FREE')[0]"-->
            <!--              #eventsRsvpFreeModalComponent></events-rsvp-free-modal>-->

            <!--            <events-event-details-ticket-type-modal-->
            <!--              [event]="event_invite_and_event_info.event_info.event"-->
            <!--              #eventsEventDetailsTicketTypeModalComponent></events-event-details-ticket-type-modal>-->

            <!--            <button class="btn btn-sm btn-primary ml-40px py-20px px-40px font-weight-700 font-size-18"-->
            <!--                    (click)="eventsEventDetailsTicketTypeModalComponent.openModal()">-->
            <!--              See all tickets-->
            <!--            </button>-->

            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->


        </div>

    </div>

    <div class="mt-32px text-align-center">
        <button
                class="font-poppins font-weight-400 font-size-18 rounded-1 py-12px ph-24px border-none text-white bg-background-purple font-color-9747FF"
                (click)="onScroll()">
            Load more events
            <i-feather name="chevron-down" class="mr-12px font-color-9747FF vertical-align-middle"></i-feather>
        </button>
    </div>

</div>

