<!--<user-profiles-mass-messaging-add-upload-contact-modal-->
<!--    #massMessagingAddUploadContactModalComponent>-->
<!--</user-profiles-mass-messaging-add-upload-contact-modal>-->

<!--<user-profiles-mass-messaging-invite-event-modal-->
<!--    #massMessagingInviteEventModalComponent>-->
<!--</user-profiles-mass-messaging-invite-event-modal>-->

<!--<div class="py-20px rounded-2 mb-20px">-->
<!--    <div class="bg-white box-shadow-purple ph-16px py-16px rounded-3">-->
<!--        <div class="d-flex align-items-center justify-content-between d-inline-block border-bottom border-grey-1 py-20px">-->
<!--            <div class="d-flex align-items-center ">-->
<!--                <images-get-image-by-entity-and-type-unique-image-ngx-avatar-->
<!--                        class="mr-16px"-->
<!--                        [entityId]="'test'"-->
<!--                        [entityType]="'USER_PROFILE_PIC'"-->
<!--                        [size]="70"-->
<!--                        [round]="false"-->
<!--                ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>-->
<!--                <div class="font-size-18 font-weight-500 font-poppins">-->
<!--                    Default page-->
<!--                    <div>-->
<!--                        <label class="font-poppins font-weight-400 font-size-14 text-grey-1">Email-->
<!--                            contact type | 10 contacts</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="">-->
<!--                <button class="btn btn-color-primary"-->
<!--                        (click)="massMessagingInviteEventModalComponent.openModal()">-->
<!--                    <i-feather name="send" class="text-white"></i-feather>-->
<!--                    Invite to Event-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="d-flex align-items-center justify-content-between mt-16px">-->
<!--                <div class="col-5 py-8px ph-16px border border-grey-1 rounded-2">-->
<!--                    <form class="d-flex align-items-center profile-form-placeholder">-->
<!--                        <i-feather name="search" class="mr-12px text-primary font-poppins"></i-feather>-->
<!--                        <input placeholder="Search member" class="w-75">-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="col-6 d-flex align-items-center justify-content-between">-->
<!--                    <div>-->
<!--                        <button class="btn bg-background-purple py-8px font-poppins font-weight-500 font-size-16 text-primary">-->
<!--                            Download CSV-->
<!--                            <i-feather name="download"></i-feather>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <img src="assets/images/user-plus-circle.png" width="40" height="40"-->
<!--                             (click)="massMessagingAddUploadContactModalComponent.openModal()">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <img src="assets/images/edit-2-circle.png" width="40" height="40">-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row border border-grey-3 mt-24px bg-white mx-0 py-16px rounded-3">-->
<!--        <div class="d-flex justify-content-between ph-16px">-->
<!--            <div class="col-6 pr-8px">-->
<!--                <div class="border border-grey-1 rounded-2 py-16px">-->
<!--                    <div class="d-flex ph-16px justify-content-between align-items-center">-->
<!--                        <label class="font-weight-500 font-size-18">Thomas Luis-->
<!--                        </label>-->
<!--                        <i-feather name="more-horizontal" class="text-primary"></i-feather>-->
<!--                    </div>-->
<!--                    <label class="font-size-14 text-grey-1 ph-16px">-->
<!--                        <i-feather name="mail"></i-feather>-->
<!--                        abcd1234@gmail.com-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-6 pl-8px">-->
<!--                <div class="border border-grey-1 rounded-2 py-16px">-->
<!--                    <div class="d-flex ph-16px justify-content-between align-items-center">-->
<!--                        <label class="font-weight-500 font-size-18">Thomas Luis-->
<!--                        </label>-->
<!--                        <i-feather name="more-horizontal" class="text-primary"></i-feather>-->
<!--                    </div>-->
<!--                    <label class="font-size-14 text-grey-1 ph-16px">-->
<!--                        <i-feather name="mail"></i-feather>-->
<!--                        abcd1234@gmail.com-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="d-flex justify-content-between mt-16px ph-16px">-->
<!--            <div class="col-6 pr-8px">-->
<!--                <div class="border border-grey-1 rounded-2 py-16px">-->
<!--                    <div class="d-flex ph-16px justify-content-between align-items-center">-->
<!--                        <label class="font-weight-500 font-size-18">Thomas Luis-->
<!--                        </label>-->
<!--                        <i-feather name="more-horizontal" class="text-primary"></i-feather>-->
<!--                    </div>-->
<!--                    <label class="font-size-14 text-grey-1 ph-16px">-->
<!--                        <i-feather name="mail"></i-feather>-->
<!--                        abcd1234@gmail.com-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-6 pl-8px">-->
<!--                <div class="border border-grey-1 rounded-2 py-16px">-->
<!--                    <div class="d-flex ph-16px justify-content-between align-items-center">-->
<!--                        <label class="font-weight-500 font-size-18">Thomas Luis-->
<!--                        </label>-->
<!--                        <i-feather name="more-horizontal" class="text-primary"></i-feather>-->
<!--                    </div>-->
<!--                    <label class="font-size-14 text-grey-1 ph-16px">-->
<!--                        <i-feather name="mail"></i-feather>-->
<!--                        abcd1234@gmail.com-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->
<div class="row justify-content-center mt-56px mb-56px mx-0">
  <div class="d-flex align-items-center justify-content-center">
    <img src="assets/images/no-promocodes.png" width="422" height="422">
  </div>
  <div class="text-align-center">
    <label class="font-poppins font-weight-500 font-size-24">Click the item to view details</label>
  </div>
</div>
