<div class="row justify-content-center mb-40px mt-40px">
  <div class="col-9">
    <div class="row bg-white box-shadow-purple">
      <div class="d-flex justify-content-between container mt-40px mb-32px">
        <div class="d-flex align-items-center gap-56">
          <button class="btn-event"
                  (click)="selected_option=options[0].value"
                  [class.btn-event-active] = "selected_option === options[0].value"
                  routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/allguests">
            {{options[0].value}}
          </button>
          <button class="btn-event"
                  (click)="selected_option=options[1].value"
                  [class.btn-event-active] = "selected_option === options[1].value"
                  routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/allguests">
            {{options[1].value}}
          </button>
          <button class="btn-event"
                  (click)="selected_option=options[2].value"
                  [class.btn-event-active] = "selected_option === options[2].value"
                  routerLink="/signedin/events/eventdashboard/{{eventInfo.event.event_id}}/manageguest/allinvites">
            {{options[2].value}}
          </button>
        </div>
        <!--    <ngb-pagination-->
        <!--      [(page)]="page"-->
        <!--      [pageSize]="pageSize"-->
        <!--      [collectionSize]="collectionSize"></ngb-pagination>-->
      </div>
      <hr>
      <div class="container mt-32px">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>


