<events-get-event-attendees-of-user-account-no-template
  [userAccount]="userAccount" (eventAttendeesReceived)="addItems($event)"
  #component></events-get-event-attendees-of-user-account-no-template>
<div infiniteScroll [infiniteScrollDisabled]="disableScroll" [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="scrollThrottle" (scrolled)="onScroll()"
     [alwaysCallback]="true">
  <div class="col-3 mr-24px mb-24px text-align-center bg-white pv-32px border border-grey-1 rounded-3 flex-wrap"
       *ngFor="let users of  items">
    <img src="/assets/images/remove/user-profile-popup-image.png" height="200">
    <div class="row mx-0 mt-20px">
      <div class="col-12 px-0">
        <label
          class="d-inline-block vertical-align-middle mr-16px font-weight-700 font-poppins font-size-24 text-font-color-1">
          {{users.user_account.display_name}}
        </label>
        <img src="/assets/images/remove/US-flag.png" height="30" class="d-inline-block mr-16px">
        <i-feather name="instagram" class="stroke-primary-2px"></i-feather>
      </div>
      <div class="col-12 px-0 mt-20px">
        <img src="/assets/images/birthday-cake.png" height="24">
        <label class="ml-8px font-poppins font-weight-500 font-size-16 text-font-color-1">
          <span class="text-grey-2">Birthday: </span>October 16th
        </label>
      </div>
      <div class="col-12 px-0 mt-12px">
        <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>
        <label class="d-inline-block ml-10px font-poppins font-weight-500 font-size-16 text-primary">
          <span class="text-grey-2">Location: </span>Seattle, US
        </label>
      </div>
    </div>
    <div class="row mx-0 pt-32px mt-32px border-top border-grey-1">
      <div class="col-12 px-0 mt-12px">
        <i-feather name="mail" class="stroke-grey-2-2px"></i-feather>
        <label class="d-inline-block ml-10px font-poppins font-weight-500 font-size-16 text-black">
          <span class="text-grey-2">Events attended: </span>02
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-0 mt-12px">
        <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>
        <label class="d-inline-block ml-10px font-poppins font-weight-500 font-size-16 text-black">
          <span class="text-grey-2">Last events attended: </span>June 3rd
        </label>
      </div>
    </div>
  </div>
</div>
