<form [formGroup]="formGroup" #createForm="ngForm">
  <div class="justify-content-between px-0 ">
    <div class="d-inline-block align-items-center">
      <dynamic-ng-bootstrap-form-control [group]="formGroup"
                                         [model]="formModelMap['location_availability_status']"></dynamic-ng-bootstrap-form-control>

    </div>
    <label class="font-poppins font-size-18 font-weight-500 align-items-center">Show location</label>
  </div>
</form>

<events-add-location-availability-status [event]="event"></events-add-location-availability-status>
<events-remove-location-availability-status [event]="event"></events-remove-location-availability-status>
