<events-create-paid-user-event-ticket-from-order-payment-no-template
        [orderPaymentId]="order_payment_id"
        (paidUserEventTicketCreated)="closeModal({status:'SUCCESS',data:$event})"
        #createPaidUserEventTicketFromOrderPaymentNoTemplateComponent
></events-create-paid-user-event-ticket-from-order-payment-no-template>


<div class="row mx-0 justify-content-center border-bottom border-grey-2font-poppins">
    <div class="bg-white px-0 rounded-4">
        <div class="row mx-0">
            <div class="d-flex justify-content-between align-items-center brtl-20px px-24 py-20px">
                <span class=" font-poppins font-size-32 font-weight-500">Payment details</span>
            </div>
        </div>
    </div>


    <events-stripe-payment-form
            (tokenCreated)="createPaidUserEventTicketFromOrderPaymentNoTemplateComponent.createPaidUserEventTicketFromOrderPayment
    (createPaidUserEventTicketFromOrderPaymentNoTemplateComponent.createRequestData($event));
    closeModal({data:$event,status:'SUCCESS'})"
            #stripePaymentFormComponent
    ></events-stripe-payment-form>

</div>

