<div class="row mb-32px">
    <div class="">
        <div class="row ph-24px justify-content-between row-align-center">
            <form class="col-7">
                <!--        <i-feather name="search" class="font-poppins text-grey-1"></i-feather>-->
                <!--        <events-event-dashboard-guest-details-refund-requests-search-form></events-event-dashboard-guest-details-refund-requests-search-form>-->
            </form>
            <div class="col-3 px-0 d-flex align-items-center">
                <button class="btn btn-color-primary py-8px ph-16px">
                    <label class="font-poppins font-weight-500 mr-12px cursor-pointer">Download as CSV</label>
                    <i-feather name="download" class="font-poppins font-weight-500 cursor-pointer"></i-feather>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row ph-24px">
    <label>This page is still under construction</label>
</div>

<!--<div class="row ph-24px">-->
<!--  <div class="pt-32px border-top border-grey-1 rounded-2">-->
<!--    <div class="row justify-content-between align-items-center mb-15px ph-16px py-16px bg-grey-3 rounded-2">-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <div class="col-9 d-flex align-items-center d-inline-block">-->
<!--          <img src="assets/party.png" height="60" width="60" class="br-30">-->
<!--          <div class="font-size-24 font-weight-500 ml-13px">-->
<!--            Scarlet-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="d-flex justify-content-between border border-grey-1 rounded-2 py-16px ph-16px mt-24px">-->
<!--          <div class="">-->
<!--            <label class="font-size-24 font-weight-500 font-poppins">Paid</label><br>-->
<!--            <label class="font-size-18 font-poppins text-grey-1 mt-20px">Purchased on:<span-->
<!--              class="font-weight-500 font-size-18 text-black"> November 3rd 2022</span></label><br>-->
<!--            <label class="font-size-18 font-poppins text-grey-1 mt-20px">Quantity<span-->
<!--              class="font-weight-500 font-size-18 text-black"> 05</span></label>-->
<!--          </div>-->
<!--          <div-->
<!--            class="bg-background-purple d-flex justify-content-center border border-primary align-items-center ph-16px rounded-2">-->
<!--            <div>-->
<!--              <div class="row border-bottom border-grey-1 pb-12px">-->
<!--                <div class="d-flex justify-content-between align-items-center font-size-18 font-poppins">-->
<!--                  <label>Refund amount:<span class="font-weight-700 pr-65px"> $15</span></label>-->
<!--                  <div class="bg-light-green py-8px">-->
<!--                    <i-feather name="check" class="text-green"></i-feather>-->
<!--                    <label class="font-poppins text-green ml-8px">Refund Issued</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row pt-12px">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <i-feather name="info" class="text-grey-2 font-poppins mr-8px"></i-feather>-->
<!--                  <label class=" text-grey-2 font-size-16 font-poppins">Refund requested on November 5th 2022</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->


<!--    </div>-->

<!--  </div>-->
<!--</div>-->


