<form [formGroup]="formGroup" class="profile-form-placeholder">
    <div class="row mx-0">
        <label class="px-0 font-poppins font-weight-500 font-size-18 text-transform-none text-font-color-1 mb-0">TICKET
            NAME
            <span class="font-poppins font-weight-500 font-size-18 text-transform-none text-red">*</span></label>
    </div>
    <dynamic-ng-bootstrap-form-control [group]="formGroup" [layout]="formLayout"
                                       [model]="formModelMap['query']"></dynamic-ng-bootstrap-form-control>
</form>
