<form [formGroup]="formGroup" #createForm="ngForm" class="profile-form-placeholder">
  <div class="row mt-32px mx-0">
    <div class="d-flex align-items-center px-0">
      <label class="font-weight-500 font-size-18 text-transform-none font-color-1 mb-0">Email</label>
    </div>
  </div>
  <dynamic-ng-bootstrap-form-control [group]="formGroup" [layout]="formLayout"
                                     [model]="formModelMap['email']"></dynamic-ng-bootstrap-form-control>
</form>

<form [formGroup]="formGroup" #createForm="ngForm" class="profile-form-placeholder">
  <div class="row mt-32px mx-0">
    <div class="d-flex align-items-center px-0">
      <label class="font-weight-500 font-size-18 text-transform-none font-color-1 mb-0">First and last name</label>
    </div>
  </div>
  <dynamic-ng-bootstrap-form-control [group]="formGroup" [layout]="formLayout"
                                     [model]="formModelMap['name']"></dynamic-ng-bootstrap-form-control>
</form>

<form [formGroup]="formGroup" #createForm="ngForm" class="profile-form-placeholder">
  <div class="row mt-32px mx-0">
    <div class="d-flex align-items-center px-0">
      <label class="font-weight-500 font-size-18 text-transform-none font-color-1 mb-0">Phone/Whatsapp number</label>
    </div>
  </div>
  <div class="row mx-0 border border-grey-1 br-6px mt-20px">
    <div class="col-12 d-flex align-items-center brbl-6px brtl-6px px-0 bg-background-purple">
      <div class="h-100 d-flex align-items-center bg-violet px-0">
        <div ngbDropdown class="pl-9px">
          <div class="font-color-grey-2 d-flex align-items-center" id="dropdownBasic1" ngbDropdownToggle>
            <img src="{{currentCountryCode}}" height="27" width="25">
            <label class="ml-4px mb-0">+1</label>
            <img src="assets/images/chevron-down.png" class="ml-20px mr-10px" height="8px" width="10px">
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBas" style="width: fit-content !important;">
            <div *ngFor="let countryCode of countryCodeList" class="px-20px">
              <div ngbDropdownItem class="font-weight-500 border-radius-5px border-left-3px-9747FF w-100"
                   (click)="changeCountryCode(countryCode);">
                <img *ngIf="countryCode.flagSrc" src="{{countryCode.flagSrc}}" height="27" width="25">
                <label class="font-color-grey-2 font-weight-500 font-poppins pl-5px">{{countryCode.countryCode}} 111</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100">
        <dynamic-ng-bootstrap-form-control [group]="formGroup" [layout]="formLayout"
                                           [model]="formModelMap['mob_num']"></dynamic-ng-bootstrap-form-control>
      </div>
    </div>
  </div>

</form>

<form [formGroup]="formGroup" #createForm="ngForm" class="profile-form-placeholder">
  <div class="row mt-32px mx-0">
    <div class="d-flex align-items-center px-0">
      <label class="font-weight-500 font-size-18 text-transform-none font-color-1 mb-0">Enter your birthday</label>
    </div>
  </div>
  <dynamic-ng-bootstrap-form-control [group]="formGroup" [layout]="formLayout"
                                     [model]="formModelMap['b_day']"></dynamic-ng-bootstrap-form-control>
</form>
