<events-get-events-by-created-by-no-template
  (eventsReceived)="events = getAllEventsNoTemplateComponent.events"

  #getAllEventsNoTemplateComponent></events-get-events-by-created-by-no-template>
<events-rsvp-free-modal
  #rsvpFreeModalComponent></events-rsvp-free-modal>


<events-invite-past-attendees-in-share-event-modal
  [event]="eventInfo.event"
  #invitePastAttendeesInShareEventModalComponent></events-invite-past-attendees-in-share-event-modal>

<div class="row justify-content-center mx-0 mb-32px">
  <div class="col-9 px-0">
    <div class="row mt-56px mx-0 justify-content-between align-items-center pb-32px mb-32px pt-32px">
      <div class="col-8 px-0 d-flex align-items-center mb-40px">
        <label class="font-poppins font-weight-700 font-size-32">Invite guests</label>
      </div>
      <div class="col-4 d-flex justify-content-end mb-40px">
        <label class="font-size-18 font-weight-500 font-poppins text-grey-2 pointer-cursor"
               (click)="naviagateToDetailsPage()">Skip for now</label>
      </div>
    </div>
    <div class="row mx-32px rounded-2 py-16px">
      <div class="col-5 pl-0">

        <div class="row mb-32px">
          <div class="col-12 d-flex align-items-center event-publish-bg">
            <i-feather name="check-circle" class="mr-12px text-green"></i-feather>
            <label class="font-poppins font-weight-500 font-size-18 py-8px text-green">Event published
              successfully</label>
          </div>
        </div>

        <div class="row border mr-12px pt-8px br-5px">
          <div class="col-12">
            <div class="row mx-0">
              <div class="col-12 pl-0">
                <images-get-image-by-entity-id-and-image-type
                  [entityId]="eventInfo.event.event_id"
                  [entityType]="'EVENT_PROFILE_PIC'"
                  #imageComponent
                >
                </images-get-image-by-entity-id-and-image-type>
                <div *ngIf="imageComponent.image">
                  <img class="border-radius-10px" height="250px" width="250px"
                       src="{{imageComponent.image.uploaded_file.file_link}}">
                </div>
                <div *ngIf="!imageComponent.image">
                  <images-get-image-by-entity-and-type-unique-image-ngx-avatar
                    class="cursor-pointer"
                    [alt]="eventInfo.event.event_title"
                    [entityId]="eventInfo.event.event_id"
                    [entityType]="'EVENT_PROFILE_PIC'"
                    [size]="250"
                    [round]="false"
                  ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 pl-10px">

                <label
                  class="mb-0 font-weight-500 font-size-24 text-font-color-1 font-poppins mt-32px">{{eventInfo.event.event_title}}</label><br>

                <div class="row align-items-center mt-24px">
                  <div class="col-12">
                    <i-feather name="calendar" class="mr-8px text-grey-2"></i-feather>
                    <label
                      class="font-poppins font-size-16px font-weight-400 text-grey-2">{{eventInfo.event.start_time|appDateTimeToDefaultDateTimeFormat:'MM/dd/yyyy'}}</label>
                    <span class="text-grey-2"> - </span>
                    <label
                      class="font-poppins font-size-16px font-weight-400 text-grey-2">{{eventInfo.event.end_time|appDateTimeToDefaultDateTimeFormat:'MM/dd/yyyy'}}</label>
                    <br>
                    <br>
                    <i-feather name="clock" class="mr-8px text-grey-2"></i-feather>
                    <label
                      class="font-size-18px font-weight-400 font-poppins text-grey-2">{{eventInfo.event.start_time|appDateTimeToDefaultDateTimeFormat:'HH:mm a'}}
                      <span
                        class="text-grey-2"> - </span>{{eventInfo.event.end_time|appDateTimeToDefaultDateTimeFormat:'HH:mm a'}}
                    </label>
                  </div>
                </div>
                <br>

                <div class="row" *ngIf="eventInfo.event_location">
                  <div class="col-12">
                    <i-feather name="map-pin" class="mr-8px text-grey-2"></i-feather>
                    <label class="font-poppins font-size-16px font-weight-400 mr-16px text-grey-2">
                      {{eventInfo.event_location.location.address || '-'}}
                    </label><br>
                  </div>
                </div>

                <div class="row mt-40px">
                  <div class="col-12">
                    <label class="font-poppins font-weight-400 font-size-16px mt-16px">
                      <img
                        src="../../../../../assets/images/ticket_tag.svg"><span>Ticket price and Quantity:</span></label>
                  </div>
                </div>

                <div class="row align-items-center mt-12px">
                  <div class="col-12 d-flex">
                    <label
                      class="font-poppins font-size-16px font-weight-400 text-grey-2">Type
                      1: Free, Count: 20</label>
                    <span class="text-grey-2 mr-8px ml-8px">|</span>
                    <label
                      class="font-poppins font-size-16px font-weight-400 text-grey-2">Type
                      2: $5, Count: 06
                    </label>
                  </div>
                </div>

                <div class="row mt-40px">
                  <div class="col-12">
                    <label class="font-poppins font-weight-400 font-size-16px mt-16px">
                      <img
                        src="../../../../../assets/images/promo_code.svg"><span>Ticket price and Quantity:</span></label>
                  </div>
                </div>

                <div class="row align-items-center mt-12px">
                  <div class="col-12 d-flex">
                    <label
                      class="font-poppins font-size-16px font-weight-400 mr-8px text-grey-2">Discount
                      20% </label>
                  </div>
                </div>

                <div class="row align-items-center mt-32px">
                  <div class="col-12 d-flex">
                    <label
                      class="font-poppins font-size-16px font-weight-700 mr-8px text-primary pb-16px pointer-cursor"
                      (click)="goBack()"
                    >See event</label>
                  </div>
                </div>

                <!--              <button-->
                <!--                class="font-weight-700 font-size-16 mr-32px bg-white font-poppins py-12px pr-24px text-primary border border-2 border-primary br-5px"-->
                <!--                (click)="navigateToEditEvent()">-->
                <!--                <div class="justify-content-between">-->
                <!--                  <i-feather name="edit-2" class="mr-12px text-primary"></i-feather>-->
                <!--                  Edit event-->
                <!--                </div>-->
                <!--              </button>-->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-7 px-0 mb-32px">
        <div class="row mx-0 bg-white box-shadow-purple rounded-4">
          <div class="col-12 px-0">
            <div class="row mx-24px pt-24px">
              <div class="d-flex align-items-center justify-content-between px-0">
                <label class="font-weight-500 font-size-18 font-poppins">
                  <img src="assets/images/invite.png" class="mr-4px w-27 h-27">
                  Invite
                </label>
                <i-feather name="x" class="w-37 h-37 rounded-5 p-1 text-primary cursor-pointer vertical-align-unset"
                           style="background: #FAF4FF"></i-feather>
              </div>
            </div>
            <div class="mx-24px pt-20px" *ngIf="eventInfo.event.created_by.display_name === loggedAccount.display_name">
              <events-invite-to-event-in-share-event-modal
                [event]="eventInfo.event"
                (closeResult)="$event.status==='CSV_UPLOAD'?openCsvUploadModal():''"
                #inviteToEventInShareEventModalComponent></events-invite-to-event-in-share-event-modal>

              <events-upload-user-contacts-from-csv-swiper-modal-no-template
                (closeResult)="reOpenInviteModal()"
              ></events-upload-user-contacts-from-csv-swiper-modal-no-template>
              <button
                class="btn-event-rsvp d-flex justify-content-center font-size-18px font-weight-800 letter-spacing--0352 ph-32px font-color-white drop-shadow-black"
                (click)="inviteToEventInShareEventModalComponent.openModal()">
                <i-feather name="send" class="mr-24px font-color-white"></i-feather>
                Invite contacts
              </button>

            </div>
            <label class="font-weight-500 font-poppins text-grey-2 mt-20px mx-24px" *ngIf="eventInfo.event.created_by.display_name === loggedAccount.display_name">
              <i-feather name="info"></i-feather>
              Send message to your contacts through Email, WhatsApp and text.</label>

            <div class="row mt-20px ml-24px py-20px mr-24px border-top-dashed border-grey-2">
              <div class="py-10px ph-24px border border-1.5 grey-1 rounded-2">
                <div class="row row-align-center justify-content-between">
                  <div class="col-9">
                    <i-feather name="link"
                               class="font-weight-500 w-27 h-27 mr-12px"></i-feather>
                    <label class="font-weight-500 font-size-18 mb-20px">Event
                      link</label><br>

                    <div class="content">
                                    <span #inputTarget
                                          class="truncate font-weight-500 font-size-18 font-poppins text-grey-1">https://dev.eventreply.com/signedin/events/{{eventInfo.event.event_id}}</span>
                    </div>
                  </div>
                  <div
                    class="col-3 p-8px bg-background-purple border-radius-5px d-flex justify-content-center align-items-center">
                    <i-feather name="copy" class="text-primary"></i-feather>
                    <label class="font-weight-700 font-size-18 text-primary ml-8px font-poppins"
                           ngxClipboard
                           [cbContent]="'https://dev.eventreply.com/signedin/events/'+eventInfo.event.event_id"
                           (click)="notificationsService.success('Copied')">Copy</label>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

