<div class="row rounded-4 mx-0 justify-content-center overflow-y-scroll">
  <div class="bg-white px-0 rounded-4">
    <div class="d-flex bg-primary justify-content-between align-items-center brt-16px px-24 py-20px">
      <span class=" font-poppins font-size-18 font-weight-500 text-white">Create new group</span>
      <i-feather name="x" class="rounded-5 p-1 text-white cursor-pointer vertical-align-unset" (click)="closeModal()" style="background: rgba(255, 255, 255, 0.3)"></i-feather>
    </div>

    <div class="ph-24px">
      <user-profiles-blasts-create-blast-list-form
        (blastListCreated)="closeModal({data:$event,status:'SUCCESS'})"
        #createBlastListFormComponent></user-profiles-blasts-create-blast-list-form>
    </div>


<!--  </div>-->

  </div>
  <div class="row justify-content-between mx-0 mb-40px mt-40px ph-24px">

    <button class="col-5 border border-primary rounded-2 bg-white font-weight-700 font-poppins font-size-18 text-primary py-16px">
   Cancel
    </button>
    <button class="col-6 btn btn-primary rounded-2  font-weight-700 font-poppins font-size-18 py-16px"
            [promiseBtn]="createBlastListFormComponent.create_blast_list_subscription$"
            [disabled]="!createBlastListFormComponent.formGroup.valid"
            (click)="createBlastListFormComponent.createBlastList(createBlastListFormComponent.createRequestData())">
      Create
    </button>

  </div>
</div>




