<user-profiles-get-event-attendess-of-user-account
  [userAccount]="userAccount" (eventAttendeesReceived)="addItems($event)" [count]="numberOfItems"
  #component></user-profiles-get-event-attendess-of-user-account>

<div infiniteScroll [infiniteScrollDisabled]="disableScroll" [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="scrollThrottle" (scrolled)="onScroll()"
     [alwaysCallback]="true">
  <div class="row justify-content-evenly">
    <div class="col-4 mb-24px" *ngFor="let users of  items">
      <div class="text-align-center bg-white border border-grey-1 px-10px rounded-3 h-100">


        <div class="row mx-0 mt-20px justify-content-center">
          <div class="col-5 px-0 d-flex vertical-align-middle rounded-circle">
            <images-get-image-by-entity-and-type-unique-image-ngx-avatar
              [size]="130"
              [entityId]="users.user_account.user_account_id"
              [alt]="users.user_account.display_name"
              [entityType]="'USER_PROFILE_PIC'"
              [round]="true"
              class="rounded-circle"
            ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>
          </div>
          <div class="px-0 mt-16px">
            <label
              class="d-inline-block vertical-align-middle mr-16px font-weight-700 font-poppins font-size-24 text-font-color-1">
              {{users.user_account.display_name}}
            </label>
            <img src="/assets/images/remove/US-flag.png" height="30" class="d-inline-block mr-16px">
            <a href="{{users.user_account?.instagram_profile_url" target="_blank">
              <i-feather name="instagram" class="stroke-primary-2px"
                         *ngIf="users.user_account?.instagram_profile_url"></i-feather>
            </a>
          </div>
          <div class="overflow-wrap px-0 py-16px justify-content-center d-flex">
            <label
              class="text-align-start font-weight-400 font-poppins font-size-16">
              <span class="text-grey-2 ">Bio:</span>
              {{users.user_account.user_bio}}
            </label>
          </div>

          <div class="border-top-dashed border-grey-1"></div>


          <div class="px-0 mt-16px" *ngIf="users.user_account?.date_of_birth">
            <img src="/assets/images/birthday-cake.png" height="24">
            <label class="ml-8px font-poppins font-weight-500 font-size-16 text-font-color-1">
              <span class="text-grey-2">Birthday: </span>{{users.user_account?.date_of_birth|appDateFormat:'MMMM DD'}}
            </label>
          </div>
          <div class="px-0 mt-12px mb-16px" *ngIf="users.user_account.city||users.user_account.country">
            <label class="font-poppins font-weight-500 font-size-16 text-primary">
              <i-feather name="map-pin" class="stroke-grey-2-2px"></i-feather>
              <span class="ml-10px text-grey-2">Location: </span>{{users.user_account.city|appEnumToHumanReadable}}
              , {{users.user_account.country}}
            </label>
          </div>
        </div>

        <div class="border-top-dashed border-grey-1"></div>


        <div class="row mx-0 pt-32px mt-32px border-top border-grey-1">
          <div class="col-12 px-0 mt-12px">
            <i-feather name="mail" class="stroke-grey-2-2px"></i-feather>
            <label class="d-inline-block ml-10px font-poppins font-weight-500 font-size-16 text-black">
              <span class="text-grey-2">Events attended: </span>{{users.user_account.eve}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0 mt-12px mb-24px">
            <i-feather name="calendar" class="stroke-grey-2-2px"></i-feather>
            <label class="d-inline-block ml-10px font-poppins font-weight-500 font-size-16 text-black">
              <span class="text-grey-2">Last events attended: </span>June 3rd
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
