<!--<core-modal-header [title]="'Create'" (closeClicked)="closeModal($event)"></core-modal-header>-->

<!--&lt;!&ndash;<perfect-scrollbar class="modal-height-with-header-footer-image">&ndash;&gt;-->
<!--    <div class="m-30 mb-10 pt-30 pb-4 mt-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 pr-4">-->
<!--&lt;!&ndash;                <contests-create-contest (contestCreated)="closeModal({data:$event,status:'SUCCESS'})"&ndash;&gt;-->
<!--&lt;!&ndash;                                         #createContest></contests-create-contest>&ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
<!--&lt;!&ndash;</perfect-scrollbar>&ndash;&gt;-->
<!--<core-modal-footer-->
<!--        (actionClicked)="component.createContest(component.createRequestData())"-->
<!--        [buttonText]="'CREATE'"-->
<!--        [actionPromise]="component.create_contest_subscription$"-->
<!--        [buttonDisabled]="!component.formGroup.valid"></core-modal-footer>-->

<button> CLICK </button>
