<events-get-event-invite-and-user-event-infos-by-user-account-no-template
  [userAccount]="loggedAccount" (eventInviteAndUserEventInfosReceived)="addItems($event)"
  [count]="numberOfItems" [columnName]="'createdTime'" [columnOrder]="'DESC'" [startTime]="startTime"
  [endTime]="endTime"
  #getEventInviteAndEventInfosByUserAccountNoTemplateComponent #component>
</events-get-event-invite-and-user-event-infos-by-user-account-no-template>


<div infiniteScroll [infiniteScrollDisabled]="disableScroll" [infiniteScrollDistance]="100"
     [infiniteScrollThrottle]="scrollThrottle" (scrolled)="onScroll()"
     [alwaysCallback]="true">

  <div class="row mx-0" *ngIf="!items?.length">
    <div class="col-12 text-align-center px-0">
      <img src="assets/images/no-promocodes.png" width="202">
      <br>
      <label class="font-size-18 text-font-color-1 font-weight-700 mb-56px mt-16px">
        You don't have events here!
      </label>
    </div>
  </div>

  <div *ngFor="let event_invite_and_user_event_info of items">
    <events-share-event-mass-messaging-modal
      [event]="event_invite_and_user_event_info.user_event_info.event_info.event"
      #shareEventModalComponent>
    </events-share-event-mass-messaging-modal>
    <!--    <button (click)="print(event_invite_and_user_event_info)"> click</button>-->

    <events-rsvp-free-modal
      #rsvpFreeModalComponent></events-rsvp-free-modal>
    <events-view-user-profile-details-modal
      [userAccount]="event_invite_and_user_event_info.user_event_info.user_account"
      [event]="event_invite_and_user_event_info.event_invite.event"
      #viewUserProfileDetailsModalComponent></events-view-user-profile-details-modal>
    <div class="row border-top border-grey-2 border-opacity-50">
      <div class="col-6 d-flex flex-column border border-grey-1 py-16px px-24 gap-18 br-5px mt-32px background-purple">
        <label class="font-weight-400 font-size-18 font-color-grey-1">Created By</label>
        <div class="d-flex justify-content-between align-items-center">
          <label class="font-weight-400  font-size-24 pointer-cursor"
                 (click)="viewUserProfileDetailsModalComponent.openModal()"><span
            class="font-weight-700">{{event_invite_and_user_event_info.user_event_info.event_info.event.created_by?.display_name}}</span>
          </label>
          <user-profiles-user-follow
            [followerAccount]="loggedAccount"
            [userAccount]="event_invite_and_user_event_info.user_event_info.event_info.event.created_by"
            [cssClasses]="'btn-event-follow'"
          >
          </user-profiles-user-follow>
        </div>
      </div>
    </div>
    <div class="row mt-32px d-flex justify-content-between align-items-center border-grey-1 pb-32px mb-32px">
      <div class="col-8">
        <div class="row mx-0">
          <div class="col-4 pl-0 ">

            <div class="">
              <!--              <images-get-image-by-entity-and-type-unique-image-ngx-avatar-->
              <!--                [imageClasses]="'cursor-pointer border-radius-5px'"-->
              <!--                [alt]="event_invite_and_user_event_info.user_event_info.event_info.event.event_title"-->
              <!--                [entityId]="event_invite_and_user_event_info.user_event_info.event_info.event.event_id"-->
              <!--                [entityType]="'EVENT_PROFILE_PIC'"-->
              <!--                [size]="150"-->
              <!--                [round]="false"-->
              <!--              ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>-->
              <images-get-image-by-entity-and-type-unique-image-ngx-avatar
                class="cursor-pointer border-radius-5px overflow-hidden"
                [alt]="event_invite_and_user_event_info.user_event_info.event_info.event.event_title"
                [entityId]="event_invite_and_user_event_info.user_event_info.event_info.event.event_id"
                [entityType]="'EVENT_PROFILE_PIC'"
                [size]="150"
                [round]="false"
              ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>
            </div>
          </div>
          <div class="col-7 px-0">
            <label
              class="mb-0 font-weight-500 font-size-24 text-font-color-1 font-poppins">{{event_invite_and_user_event_info.user_event_info.event_info.event.event_title}}</label>
            <br>
            <label
              class="mb-0 font-weight-500 font-size-16 font-color-7F56D9">Invited
              by {{event_invite_and_user_event_info.event_invite.invited_by.display_name}}</label>
            <br>
            <label
              class="d-inline-block mb-0 mt-16px pr-12px mr-12px border-end border-grey-2 font-size-16 text-grey-2 font-poppins">{{event_invite_and_user_event_info.user_event_info.event_info.event.start_time|appDateTimeToDefaultDateTimeFormat:'MM/dd/yyyy'}}</label>
            <label
              class="d-inline-block mb-0 font-size-16 text-grey-2 font-poppins">{{event_invite_and_user_event_info.user_event_info.event_info.event.start_time|appDateTimeToTimeFormat}}
              -
              {{event_invite_and_user_event_info.user_event_info.event_info.event.end_time|appDateTimeToTimeFormat}}</label>
            <br>
            <label class="d-inline-block mb-0 mt-16px font-size-16 text-grey-2 font-poppins"
                   *ngIf="event_invite_and_user_event_info.user_event_info.event_info.event_location">
              {{event_invite_and_user_event_info.user_event_info.event_info.event_location|eventsEventLocationToHumanReadable:event_invite_and_user_event_info.user_event_info.event_info.event.location_available_status}}
            </label>
            <br>
            <label class="d-inline-block mb-0 mt-16px font-size-16 text-grey-2 font-poppins">
              {{event_invite_and_user_event_info.user_event_info.event_info.event.event_description}}
            </label><br>
            <i-feather name="users" class="font-poppins text-grey-2 mr-8px"></i-feather>
            <label class="d-inline-block mb-0 mt-16px font-weight-400 font-size-16 text-grey-2 font-poppins">
              {{event_invite_and_user_event_info.user_event_info.event_info.event.event_attendees_count}}
              attendees</label>
            <label
              class="btn p-0 d-inline-block mb-0 ml-32px font-poppins font-weight-400 font-size-16 text-grey-2"
              (click)="shareEventModalComponent.openModal()">
              <i-feather name="Share2" class="d-inline-block text-grey-2"></i-feather>
              Share
            </label>
          </div>
        </div>

      </div>


      <div class="col-4 d-flex flex-column">
        <events-event-details-ticket-type-modal
          [event]="event_invite_and_user_event_info.event_invite.event"
          (closeResult)="$event.status==='SUCCESS'?eventAttendeeCreated.emit(event_invite_and_user_event_info.event_invite.event):''"
          #ticketTypeModalComponent></events-event-details-ticket-type-modal>
        <button
          class="btn-event-rsvp d-flex justify-content-center font-size-18px font-weight-700 pl-20px pr-20px py-16px"
          (click)="ticketTypeModalComponent.openModal()"
          *ngIf="!event_invite_and_user_event_info.user_event_info?.event_attendees?.length ">
          {{event_invite_and_user_event_info.user_event_info.event_info.event_tickets|eventsEventTicketsToButtonText}}
        </button>
        <button class="btn-event-details mt-20px font-size-18 pl-20px pr-20px py-16px"
                [routerLink]="'/signedin/events/'+event_invite_and_user_event_info.user_event_info.event_info.event.event_id"
        >
          See details
        </button>
      </div>

    </div>

  </div>

  <div class="mt-32px text-align-center">
    <button
      class="font-poppins font-weight-400 font-size-18 rounded-1 py-12px ph-24px border-none text-white bg-background-purple font-color-9747FF"
      (click)="onScroll()">
      Load more events
      <i-feather name="chevron-down" class="mr-12px font-color-9747FF vertical-align-middle"></i-feather>
    </button>
  </div>

</div>

