<div class="row rounded-4 mx-0 justify-content-center">
  <div class="bg-white px-0 rounded-4">
    <div class="d-flex bg-primary justify-content-between align-items-center brt-16px px-24 py-20px">
      <span class=" font-poppins font-size-18 font-weight-500 text-white">Edit group</span>
      <i-feather name="x" class="rounded-5 p-1 text-white cursor-pointer vertical-align-unset"
                 (click)="closeModal({status:'CLOSE', data:undefined})"
                 style="background: rgba(255, 255, 255, 0.3)"></i-feather>
    </div>
  </div>
</div>


<div class="row mt-48px">
  <div>
    <images-get-image-by-entity-and-type-unique-image-ngx-avatar
      class="mr-16px"
      [alt]="blastList.blast_list_name"
      [entityId]="blastList.blast_list_id"
      [entityType]="'BLAST_PROFILE_PIC'"
      [size]="70"
      [round]="true"
    ></images-get-image-by-entity-and-type-unique-image-ngx-avatar>
    <label class="font-weight-500 font-size-18">
      YOUR GROUP NAME
      <span class="text-red">*</span>
    </label>
    <div class="mx-24px mt-20px">
      <input class="w-100 p-16px border border-2 border-grey-1 rounded-2">
    </div>
  </div>
</div>

<div class="row justify-content-between mx-0 mb-40px mt-40px">
  <button
    class="col-5 btn btn-sm btn-outline-primary ml-24px border-3 border-primary font-weight-700 font-poppins font-size-18 py-16px "
      (click)="closeModal()">
    Cancel
  </button>
  <button class="col-5 btn btn-color-primary mr-24px font-weight-700 font-poppins font-size-18 py-16px"
  >
    Save
  </button>

</div>
