<div class="row mt-40px">
  <div class="col-12">
    <i-feather name="check-circle" class="wh-80px font-weight-400"></i-feather><br>
    <label class="mt-20px font-weight-500 font-size-24">Great</label><br>
    <label class="mt-20px font-weight-500 font-size-18 text-grey-2">Your invitation is sent successfully.</label>
  </div>
  <div class="">
    <button class="btn btn-sm btn-outline-primary border-3 border-primary font-weight-500 ph-28px py-12px">
      Back to home
    </button>
    <button class="btn btn-sm btn-color-primary font-weight-500 ph-48px py-12px">
      See event
    </button>
  </div>
</div>
