<!--<p>user-profiles-invite-to-event-slider works!</p>-->

<!--<user-profiles-blasts-invite-to-event-modal-->
<!--  #massMessagingInviteEventModalComponent>-->
<!--</user-profiles-blasts-invite-to-event-modal>-->

<!--<user-profiles-blasts-invite-contacts-to-event-modal-->
<!--  #inviteContactsToEventModalComponent-->
<!--&gt;</user-profiles-blasts-invite-contacts-to-event-modal>-->

<!--<swiper-container  #swiper init="false" pagination="true" pagination-clickable="true">-->
<!--  <swiper-slide>-->
<!--    <user-profiles-blasts-invite-to-event-modal-->
<!--      #massMessagingInviteEventModalComponent>-->
<!--    </user-profiles-blasts-invite-to-event-modal>-->
<!--  </swiper-slide>-->
<!--  <swiper-slide>-->
<!--    <button (click)="inviteContactsToEventModalComponent.openModal()">CLICK</button>-->
<!--  </swiper-slide>-->
<!--</swiper-container>-->
