<!--<div class="row mx-0 justify-content-center text-align-start ">-->
<!--  <div class="col-12 bg-white pv-32px ph-24px border border-grey-1 rounded-3">-->
<!--    <label class="font-poppins font-weight-500 font-size-24 text-font-color-1 mb-0">-->
<!--      Upcoming events<span class="text-grey-2">(02)</span>-->
<!--    </label>-->
<!--    <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="true" [class.p-0]="true" [class.border-top-0]="true">-->
<!--      <div class="col-2 px-0">-->
<!--        <img height="105" src="/assets/images/remove/user-attended-events-image.png">-->
<!--      </div>-->
<!--      <div class="col-10 pl-16px pr-0">-->
<!--        <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">-->
<!--          Christmas Party Celebration-->
<!--        </label>-->
<!--        <div class="row mx-0 mt-16px">-->
<!--          <div class="col-12 px-0">-->
<!--            <i-feather name="calendar" class="stroke-primary-2px"></i-feather>-->
<!--            <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">-->
<!--              24th October-->
<!--            </label>-->
<!--            <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>-->
<!--            <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>-->
<!--        <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">-->
<!--          112, bulved street-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<div class="row mx-0 justify-content-center overflow-y-scroll">
  <div class="px-0 border-bottom border-grey-2 pb-32px">
    <div class="bg-white px-0 rounded-4">
      <div class="row mx-0 events-attended-header bg-white">
        <div class="d-flex justify-content-between align-items-center brtl-20px px-24 py-20px">
          <label class="font-poppins font-weight-500 font-size-24 text-font-color-1 mb-0">
            Upcoming events<span class="text-grey-2">(02)</span>
          </label>
          <i-feather name="x" class="rounded-5 p-1 text-white cursor-pointer vertical-align-unset"
                     (click)="closeModal()"
                     style="background: rgba(255, 255, 255, 0.3)"></i-feather>
        </div>
      </div>
      <!--      paid ticket creation form-->
      <div class="row mx-0 ph-24px">
        <div class="col-12 px-0">
          <div class="row mx-0" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
          <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
          <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
          <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
          <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
          <div class="row mx-0 pt-24px mt-24px border-top border-grey-1" [class.mt-32px]="false" [class.p-0]="false" [class.border-top-0]="false">
            <div class="col-2 px-0">
              <img height="105" src="/assets/images/remove/user-attended-events-image.png">
            </div>
            <div class="col-10 pl-16px pr-0">
              <label class="font-poppins font-weight-500 font-size-18 text-font-color-1 mb-0">
                Christmas Party Celebration
              </label>
              <div class="row mx-0 mt-16px">
                <div class="col-12 px-0">
                  <i-feather name="calendar" class="stroke-primary-2px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0 pr-24px border-end border-grey-2">
                    24th October
                  </label>
                  <i-feather name="clock" class="stroke-primary-2px ml-24px"></i-feather>
                  <label class="font-poppins font-size-16 text-grey-2 pl-8px mb-0">07:30 PM - 11:30PM</label>
                </div>
              </div>
              <i-feather name="map-pin" class="stroke-primary-2px"></i-feather>
              <label class="font-poppins font-size-16 text-grey-2 pl-8px mt-16px">
                112, bulved street
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

