<div class="jeewith-modal-header modal-header bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h6 class="mb-0 font-white font-normal font-weight-700">
          <span class="d-inline-block vertical-align-middle">{{title}}</span>
          <button type="button" class="close float-right pt-3 pb-1 text-white">
<!--            <fa-icon icon="times-circle" class="float-right text-white font-heading"-->
<!--                     (click)="onCloseClicked()" ></fa-icon>-->
          </button>
        </h6>
      </div>
    </div>
  </div>
</div>
