<div class="row mt-40px mb-150px">
  <div class="text-align-end">
    <button class="btn btn-color-primary font-poppins font-weight-700 font-size-18">
      <i-feather name="plus" class="font-poppins mr-8px"></i-feather>
      Add ticket
    </button>
  </div>
  <div>
    <div class="row mt-40px">
      <div class="d-flex justify-content-between">
        <div class="w-100 px-0 bg-white rounded-2 ph-16px py-16px">
          <div class="row justify-content-between ph-16px">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="pr-16px">
                  <label class="font-weight-500 font-size-18 font-poppins text-grey-2">01</label>
                </div>
                <div>
                  <label class="font-weight-700 font-size-24 font-poppins">Paid</label><br>
                  <label class="font-poppins font-size-18 font-weight-500 text-grey-2 mt-12px">Description will reflect
                    here if
                    any</label>
                </div>
              </div>
              <div class="">
                <label class="font-weight-500 font-size-18 font-poppins">$5.00</label><br>
                <label class="font-weight-500 font-size-18 font-poppins text-grey-2">x 20</label>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-16px">
          <i-feather name="more-vertical" class="font-poppins text-grey-2"></i-feather>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row mt-40px">
      <div class="d-flex justify-content-between">
        <div class="w-100 px-0 bg-white rounded-2 ph-16px py-16px">
          <div class="row justify-content-between ph-16px">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="pr-16px">
                  <label class="font-weight-500 font-size-18 font-poppins text-grey-2">02</label>
                </div>
                <div>
                  <label class="font-weight-700 font-size-24 font-poppins">Free</label><br>
                  <label class="font-poppins font-size-18 font-weight-500 text-grey-2 mt-12px">
                    RSVP to see who is going
                  </label>
                </div>
              </div>
              <div class="">
                <label class="font-weight-500 font-size-18 font-poppins">$00.00</label><br>
                <label class="font-weight-500 font-size-18 font-poppins text-grey-2">x 100</label>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-16px">
          <i-feather name="more-vertical" class="font-poppins text-grey-2"></i-feather>
        </div>
      </div>
    </div>
  </div>
</div>
